#aside {
  width: 300px;
  height: calc(100vh - 100px);
  background: #fafafa;
  transition: margin-left 900ms;
  justify-content: flex-start;
}

#aside.open {
  margin-left: 0px;
}

#aside.closed {
  margin-left: -300px;
}

#aside-content {
  width: 290px;
  padding: 10px;
}
