#popup-window {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.p.child {
  width: 70vw;
  height: 70vh;
  background: #ebebeb;
  box-shadow: 0 0 20px 3px black;
}
