.cumulative-select-header {
  margin: 0;
  padding: 0 0 6px 0;
}

.cumulative-select-item {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 10px 0 10px;
}

.cumulative-select-remove {
  display: inline-block;
  position: relative;
  border: none;
  width: 17px;
  height: 17px;
  background: inherit;
  margin-left: 3px;
}

.cumulative-select-remove::before, .cumulative-select-remove::after {
  content: '';
  position: absolute;
  display: inline;
  width: 20px;
  height: 1px;
  background: black;
  left: 0;
  top: 10px;
}

.cumulative-select-remove::before { transform: rotate(45deg); }
.cumulative-select-remove::after { transform:rotate(-45deg); }
